<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="/_assets/main.css" />

    <title>commonMethodEntries - myjoplin</title>
  <link rel="stylesheet" href="/_markdown_plugin_assets/highlight.js/atom-one-light.css" /></head>
  <body>
    <div class="main">
      <nav class="navigation">
        <a href="/">myjoplin</a>
      </nav>
      <article>
        <header>
          <h1 class="article-title">commonMethodEntries</h1>
          <div class="article-info">
            <div>
              <span
                >Created At：<time datetime="1762287173238"
                  >2025-11-04 12:12</time
                ></span
              >
              <span
                >Updated At：<time datetime="1762336236468"
                  >2025-11-05 01:50</time
                ></span
              >
            </div>
            
          </div>
        </header>
        <div class="article-content markdown-body"><p>(Links: <a title="#%7B%7Bmethodname%7D%7D-method-for-%7B%7Btype1slug%7D%7D" href="#%7B%7Bmethodname%7D%7D-method-for-%7B%7Btype1slug%7D%7D">{{Type1}</a>, <a title="#%7B%7Bmethodname%7D%7D-method-for-%7B%7Btype2slug%7D%7D" href="#%7B%7Bmethodname%7D%7D-method-for-%7B%7Btype2slug%7D%7D">{{Type2}}</a>, <a title="#%7B%7Bmethodname%7D%7D-method-for-%7B%7Btype3slug%7D%7D" href="#%7B%7Bmethodname%7D%7D-method-for-%7B%7Btype3slug%7D%7D">{{Type3 }}</a>, <a title="#%7B%7Bmethodname%7D%7D-method-for-%7B%7Btype4slug%7D%7D" href="#%7B%7Bmethodname%7D%7D-method-for-%7B%7Btype4slug%7D%7D">{{Type4}}</a>)</p>
<h1 id="methodname-method-for-type1"><code>{{methodname}}()</code> Method for <em>{{Type1}}</em></h1>
<blockquote>
<p>{{ definition1 }}</p>
</blockquote>
<h2 id="syntax">Syntax</h2>
<blockquote>
<div><pre class="hljs"><code>{{ syntax1 }}</code></pre></div>
</blockquote>
<h2 id="return-value">Return Value</h2>
<blockquote>
<p>{{ returnvalue1 }}</p>
</blockquote>
<p>{% if parameters1 %}</p>
<h2 id="parameters">Parameters</h2>
<table>
<thead>
<tr>
<th>Parameter</th>
<th>Description</th>
</tr>
</thead>
<tbody></tbody>
</table>
<p>{% for p in parameters1 -%}<br />
| {{ p.name }} | {{ p.desc }} |<br />
{% endfor %}<br />
{% endif %}</p>
<p>{% if errorsraisednote1 %}</p>
<h2 id="errors-raised">Errors Raised</h2>
<blockquote>
<p>{{ errorsraisednote1 }}<br />
{% endif %}</p>
</blockquote>
<blockquote>
<p><strong>Example 1: {{ exampletitle1 }}</strong></p>
<div><pre class="hljs"><code>{{ examplecode1 }}</code></pre></div>
</blockquote>
<p> </p>
<hr />
<hr />
<p> </p>
<h1 id="methodname-method-for-type2"><code>{{methodname}}()</code> Method for <em>{{Type2}}</em></h1>
<blockquote>
<p>{{ definition2 }}</p>
</blockquote>
<h2 id="syntax-2">Syntax</h2>
<blockquote>
<div><pre class="hljs"><code>{{ syntax2 }}</code></pre></div>
</blockquote>
<h2 id="return-value-2">Return Value</h2>
<blockquote>
<p>{{ returnvalue2 }}</p>
</blockquote>
<p>{% if parameters2 %}</p>
<h2 id="parameters-2">Parameters</h2>
<table>
<thead>
<tr>
<th>Parameter</th>
<th>Description</th>
</tr>
</thead>
<tbody></tbody>
</table>
<p>{% for p in parameters2 -%}<br />
| {{ p.name }} | {{ p.desc }} |<br />
{% endfor %}<br />
{% endif %}</p>
<p>{% if errorsraisednote2 %}</p>
<h2 id="errors-raised-2">Errors Raised</h2>
<blockquote>
<p>{{ errorsraisednote2 }}<br />
{% endif %}</p>
</blockquote>
<blockquote>
<p><strong>Example 1: {{ exampletitle2 }}</strong></p>
<div><pre class="hljs"><code>{{ examplecode2 }}</code></pre></div>
</blockquote>
<p> </p>
<hr />
<hr />
<p> </p>
<h1 id="methodname-method-for-type3"><code>{{methodname}}()</code> Method for <em>{{Type3}}</em></h1>
<blockquote>
<p>{{ definition3 }}</p>
</blockquote>
<h2 id="syntax-3">Syntax</h2>
<blockquote>
<div><pre class="hljs"><code>{{ syntax3 }}</code></pre></div>
</blockquote>
<h2 id="return-value-3">Return Value</h2>
<blockquote>
<p>{{ returnvalue3 }}</p>
</blockquote>
<p>{% if parameters3 %}</p>
<h2 id="parameters-3">Parameters</h2>
<table>
<thead>
<tr>
<th>Parameter</th>
<th>Description</th>
</tr>
</thead>
<tbody></tbody>
</table>
<p>{% for p in parameters3 -%}<br />
| {{ p.name }} | {{ p.desc }} |<br />
{% endfor %}<br />
{% endif %}</p>
<p>{% if errorsraisednote3 %}</p>
<h2 id="errors-raised-3">Errors Raised</h2>
<blockquote>
<p>{{ errorsraisednote3 }}<br />
{% endif %}</p>
</blockquote>
<blockquote>
<p><strong>Example 1: {{ exampletitle3 }}</strong></p>
<div><pre class="hljs"><code>{{ examplecode3 }}</code></pre></div>
</blockquote>
<p> </p>
<hr />
<hr />
<p> </p>
<h1 id="methodname-method-for-type4"><code>{{methodname}}()</code> Method for <em>{{Type4 }}</em></h1>
<blockquote>
<p>{{ definition4 }}</p>
</blockquote>
<h2 id="syntax-4">Syntax</h2>
<blockquote>
<div><pre class="hljs"><code>{{ syntax4 }}</code></pre></div>
</blockquote>
<h2 id="return-value-4">Return Value</h2>
<blockquote>
<p>{{ returnvalue4 }}</p>
</blockquote>
<p>{% if parameters4 %}</p>
<h2 id="parameters-4">Parameters</h2>
<table>
<thead>
<tr>
<th>Parameter</th>
<th>Description</th>
</tr>
</thead>
<tbody></tbody>
</table>
<p>{% for p in parameters4 -%}<br />
| {{ p.name }} | {{ p.desc }} |<br />
{% endfor %}<br />
{% endif %}</p>
<p>{% if errorsraisednote4 %}</p>
<h2 id="errors-raised-4">Errors Raised</h2>
<blockquote>
<p>{{ errorsraisednote4 }}<br />
{% endif %}</p>
</blockquote>
<blockquote>
<p><strong>Example 1: {{ exampletitle4 }}</strong></p>
<div><pre class="hljs"><code>{{ examplecode4 }}</code></pre></div>
</blockquote>
<hr />
<hr />
<p><strong>END</strong></p>
</div>
      </article>
    </div>
  </body>
</html>
