<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="/_assets/main.css" />

    <title>methodEntries - myjoplin</title>
  <link rel="stylesheet" href="/_markdown_plugin_assets/highlight.js/atom-one-light.css" /></head>
  <body>
    <div class="main">
      <nav class="navigation">
        <a href="/">myjoplin</a>
      </nav>
      <article>
        <header>
          <h1 class="article-title">methodEntries</h1>
          <div class="article-info">
            <div>
              <span
                >Created At：<time datetime="1762209212280"
                  >2025-11-03 14:33</time
                ></span
              >
              <span
                >Updated At：<time datetime="1762336247975"
                  >2025-11-05 01:50</time
                ></span
              >
            </div>
            
          </div>
        </header>
        <div class="article-content markdown-body"><h1 id="methodname-method-for-type"><code>{{ methodname }}()</code> Method for <em>{{ Type }}</em></h1>
<blockquote>
<p>{{ definition }}</p>
</blockquote>
<h2 id="syntax">Syntax</h2>
<blockquote>
<div><pre class="hljs"><code>{{ syntax }}</code></pre></div>
</blockquote>
<h2 id="return-value">Return Value</h2>
<blockquote>
<p>{{ returnvalue }}</p>
</blockquote>
<p>{% if parameters %}</p>
<h2 id="parameters">Parameters</h2>
<table>
<thead>
<tr>
<th>Parameter</th>
<th>Description</th>
</tr>
</thead>
<tbody></tbody>
</table>
<p>{% for p in parameters -%}<br />
| {{ p.name }} | {{ p.desc }} |<br />
{% endfor %}<br />
{% endif %}</p>
<p>{% if errorsraised %}</p>
<h2 id="errors-raised">Errors Raised</h2>
<blockquote>
<p>{{ errorsraised }}<br />
{% endif %}</p>
</blockquote>
<blockquote>
<p><strong>Example 1: {{ exampletitle }}</strong></p>
<div><pre class="hljs"><code>{{ examplecode }}</code></pre></div>
</blockquote>
<hr />
<hr />
<p><strong>END</strong></p>
</div>
      </article>
    </div>
  </body>
</html>
